.Top header {
border-bottom: 1px solid seashell;
height: 69px;
width: 100 auto;
position: fixed;
display: flex;
flex-direction: row;
margin-top: 100% auto;
background-color: black;
top: 0;
padding-right: 100%;
padding-top: 10px;
padding-bottom: 20px;
}
.click li {
  display: inline-block;
  width: 80%;
  height: 40px;
  color: white;
  margin: 10px 30px 40px 30px;
  top: 20px;


}
.tea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  margin-left: 30px;


}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.description {
  height: 140px;
  background-color: black;
  width: 100%;
}
.five {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  flex-wrap: wrap;

  }
.berry img {
  height: 200px;
  width: 300px;
}
.rum img {
  height: 200px;
  width: 300px;
}
.donut img {
  height: 200px;
  width: 300px;
}
.myrtle img {
  height: 200px;
  width: 300px;
}
.bedford img {
  height: 200px;
  width: 300px;
}
